* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

.message {
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    width: 500px;
    font-size: 10pt;
    font-weight: 400;
    transition: 0.5s;
    margin-top: 20px;
    position: fixed;
    top: 50px;
    right: 800px;
    z-index: 1000;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px 0;
}

.suggestions h2 {
    font-size: 12pt;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: rgb(97, 97, 97);
}


.suggestions p {
    font-weight: 600;
    color: rgb(97, 97, 97);
}

.movie-suggestion {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 10pt;
}

.movie-suggestion .fas {
    font-size: 5px;
}

form div {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
}

form label {
    font-size: 10pt;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: rgb(97, 97, 97);
}

form input[type="text"] {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding: 20px;
    font-size: 10pt;
    color: black;
}

form input[type="file"] {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding: 11px;
    font-size: 10pt;
    color: black;
}

.uploadBtn {
    background-color: rgb(4, 56, 255);
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.cancelBtn {
    background: none;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(4, 56, 255);
    color: rgb(4, 56, 255);
    cursor: pointer;
    transition: 0.5s;
}

.uploadBtn:hover {
    background-color: rgb(41, 84, 255);
    color: white;
}

.cancelBtn:hover {
    background-color: rgb(4, 56, 255);
    color: white;
}

form input[type="file"]::file-selector-button {
    background-color: rgb(4, 56, 255);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

form textarea {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding: 10px;
    font-size: 10pt;
    color: black;
}

video {
    width: 100%;
    height: 520px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px;
}

.message.success {
  background-color: rgb(4, 56, 255);
}

.message.error {
  background-color: #dc3545; /* red */
}

.message.warning {
  background-color: #ffc107; /* yellow */
  color: black;
}

.message.info {
  background-color: #17a2b8; /* blue */
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 15px 30px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.section-header h1 {
    font-weight: 400;
    font-size: 20pt;
    color: rgb(97, 97, 97);
}

.section-header p {
    color: black;
}

.main-container {
    width: 1200px;
    height: 700px;
    margin: 15px 20px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: white;
}

#homeMessage {
    opacity: 1;
    font-size: 10pt;
    transform: translateY(0);
    transition: opacity 0.6s ease, transform 0.6s ease;
    margin-top: 5px;
}

#homeMessage.changing {
    opacity: 0;
    transform: translateY(6px);
}

.date-time {
    font-weight: 500;
    font-size: 10pt;
    color: rgb(97, 97, 97);
}

.clock {
    font-weight: 500;
    font-size: 10pt;
    color: rgb(97, 97, 97);
}

.navigation {
    padding: 15px 30px;
    border-bottom: 1px solid rgb(219, 219, 219);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.right {
    display: flex;
    align-items: center;
}

.window-title {
    font-weight: 500;
    font-size: 11pt;
}

.left .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right .buttons button {
    border: none;
    background: none;
    font-size: 9pt;
    color: rgb(4, 56, 255);
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.right .buttons button:hover {
    background-color: rgb(4, 56, 255);
    color: white;
}

.right .buttons button:active {
    background-color: rgb(4, 56, 255);
    color: white;
}

.left .buttons button {
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.closeBtn {
    background-color: #FF5F57;
}

.minimizeBtn {
    background-color: #FEBC2E;
}

.maximizeBtn {
    background-color: #28C840;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 6px);
    min-width: 160px;
    background-color: white;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    border-radius: 10px !important;
    transition: opacity 0.2s ease;
    display: none;
}

.dropdown-menu button {
    border: none !important;
    border-radius: 0 !important;
    width: 100%;
    text-align: left;
    padding: 12px 15px !important;
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
}

.movies-content {
    padding: 5px 30px;
}


.empty-state {
    margin-top: 10px;
}

.empty-state p {
    font-size: 12pt;
    color: black;
}
.movies-container {
    display: flex;
    gap: 20px;
    overflow: hidden;
    margin-top: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.movies-container::-webkit-scrollbar {
    height: 8px;
}

.movies-container::-webkit-scrollbar-thumb {
    background-color: rgb(4, 56, 255);
    border-radius: 20px;
}

.movies-container::-webkit-scrollbar-track {
    background-color: rgb(243, 242, 242);
    border-radius: 20px;
}

.movie {
    position: relative;
    min-width: 400px;
    height: 500px;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

.watchBtn {
    background: rgb(4, 56, 255);
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    font-size: 10pt;
    font-weight: 400;
    transition: 0.5s;
    margin-top: 20px;

}

.watchBtn:hover {
    background-color: rgb(97, 97, 97);
    color: white;
}

.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px 15px 15px;
    box-sizing: border-box;
    color: white;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}

.movie-info h2 {
    margin: 0;
    font-size: 16pt;
}

.movie-info p {
    margin: 5px 0 0;
    opacity: 0.7;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.message {
  animation: fadeDown 0.5s ease forwards;
}

.message.hide {
  animation: fadeUp 0.5s ease forwards;
}

.chat-panel {
    display: none;
}


.chat-panel.active {
    display: flex;
}

.chat-panel {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    flex-direction: column;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid rgb(219, 219, 219);
    background-color: rgb(4, 56, 255);
    color: white;
}

.chat-header h2 {
    font-weight: 400;
    font-size: 20pt;
}

.chat-header button {
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20pt;
    color: white;
    transition: 0.5s;
}

.chat-header button:hover {
    transform: translateY(-5px);
}

.chat-content {
    flex: 1;
    padding: 15px 30px;
    height: 500px;
}

.chat-input {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.chat-input input {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 10pt;
    color: black;
    width: 100%;
}

.chat-input button {
    background-color: rgb(4, 56, 255);
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.chat-input button:hover {
    transform: scale(1.05);
}

.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 425px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}