<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the.room - Access Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.7.2-web/css/all.min.css') }}">
</head>
<body>
    <div class="main-container access-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="message {{ category }}">{% if category == 'success' %}<i class="fas fa-check-circle"></i> {{ message }}{% elif category == 'error' %}<i class="fas fa-exclamation-triangle"></i> {{ message }}{% elif category == 'info' %}<i class="fas fa-info-circle"></i>{{ message }}{% endif %}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>the.room</h1>
        <p>Please select your name and enter your passcode to access the room.</p>
        <form method="POST">
            <label for="name">Select Your Name</label>
            <select name="name" id="name">
                <option value="Oriah">Oriah</option>
                <option value="Muse">Muse</option>
            </select>

            <label for="passcode">Passcode</label>
            <input type="password" id="passcode" name="passcode" required>

            <button type="submit">Access Room</button>
        </form>
    </div>

    
</body>
</html>