<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the.room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.7.2-web/css/all.min.css') }}">
</head>
<body>
    <div class="main-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="message {{ category }}">{% if category == 'success' %}<i class="fas fa-check-circle"></i> {{ message }}{% elif category == 'error' %}<i class="fas fa-exclamation-triangle"></i> {{ message }}{% elif category == 'info' %}<i class="fas fa-info-circle"></i>{{ message }}{% endif %}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="navigation">
            <div class="left">

                <div class="buttons">
                    <button type="button" onclick="window.location.href='{{ url_for('logout') }}'" title="Exit room" class="closeBtn"></button>
                    <button type="button" title="Minimize window" class="minimizeBtn"></button>
                    <button type="button" title="Maximize Window" class="maximizeBtn"></button>
                </div>
                
            </div>

            <div class="right">
                <div class="buttons">
                    <div class="dropdown">
                        <button onclick="toggleDropdown()" title="View the available activities" id="dropdownBtn" class="dropdownBtn"><i class="fas fa-bars"></i></button>
                        <div class="dropdown-menu" id="dropdownMenu">
                            <button type="button" onclick="window.location.href='{{ url_for('index') }}'" style="border-top-left-radius: 10px !important; border-top-right-radius: 10px !important;" class="watchMovieBtn"><i class="fas fa-film"></i> Watch a Movie</button>
                            <button type="button" onclick="window.location.href='{{ url_for('suggestion') }}'" class="watchMovieBtn"><i class="fas fa-question-circle"></i>  Movie Suggestions</button>
                            <button type="button" onclick="window.location.href='{{ url_for('upload') }}'" style="border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important;" class="watchMovieBtn"><i class="fas fa-upload"></i> Upload</button>

                        </div>
                    </div>
                    <button type="button" title="Open Chat" class="chatBtn" id="openChatBtn"><i class="fas fa-message"></i> Open Chat</button>
                    <!--
                    <button type="button" title="Voice Call" id="voiceCallBtn" class="phoneCallBtn"><i class="fas fa-phone"></i> Voice Call</button>
                    <button type="button" title="Video Call" class="videoCallBtn"><i class="fas fa-video"></i> Video Call</button>
                    -->
                </div>
            </div>
        </div>

        <div id="movies" class="section movies-section">
            <div class="section-header">
                <div>
                    <h1><i class="fas fa-film"></i> PICK A MOVIE TO WATCH</h1>
                    <p><i class="fas fa-quote-left"></i> <span id="homeMessage"></span></p>
                </div>
                <div>
                    <span id="date-time" class="date-time"></span> 
                    <span id="clock" class="clock"></span>
                </div>
            </div>

            <div class="movies-content">
                <div class="movies-container">
                    {% if movies %}
                    {% for movie in movies %}
                        <div class="movie">
                            {% if movie.thumbnail %}
                                <img src="{{ url_for('thumbnail_file', filename=movie.thumbnail) }}" alt="{{ movie.title }}">   
                            {% else %}
                                <img src="{{ url_for('thumbnail_file', filename='the.room-backdrop-black.png') }}" alt="No Thumbnail">   
                            {% endif %}                          
                            <div class="movie-info">
                                <h2>{{ movie.title }}</h2>
                                <p>{{ movie.description }}</p>
                                <p class="duration"><i class="fas fa-clock"></i> {{ movie.duration }}</p>
                                <p>Uploaded By: {{ movie.uploaded_by }}</p>
                                <button type="button" onclick="window.location.href='{{ url_for('watch_movie', movie_id=movie.id) }}'" class="watchBtn"><i class="fas fa-play"></i> Watch</button>
                                <button type="button" onclick="window.location.href='{{ movie.trailer }}'" class="watchBtn view-trailer"><i class="fas fa-play"></i> Watch Trailer</button>
                                <button type="button" onclick="window.location.href='{{ url_for('remove_from_watchlist', movie_id=movie.id) }}'" class="watchBtn"><i class="fas fa-trash"></i> Remove from Watchlist</button>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <div style="margin-bottom: 35px;" class="empty-state">
                            <p><i class="fas fa-info-circle"></i> There are currently no movies to watch. Click the <i class="fas fa-bars"></i> button to upload a movie.</p>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="chatPanel" class="chat-panel">
        <div class="chat-header">
            <div class="buttons">
                <button title="Close window" id="closeChatBtn" class="closeChatBtn closeBtn"></button>
                <button title="Minimize window" id="minimizeChatBtn" class="minimizeChatBtn minimizeBtn"></button>
                <button title="Maximize window" id="maximizeChatBtn" class="maximizeChatBtn maximizeBtn"></button>
            </div>
            <span>Chat Panel</span>
        </div>

        <div" class="chat-content">
            <div id="chatMessages" class="chat-messages"></div>
            <div class="chat-input">
                <input type="text" id="chatInput" placeholder="Type your message...">
                <button id="sendChatBtn"><i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </div>

    <!--
    <div id="voiceCallPanel" class="voice-call-panel">
        <div class="chat-header">
            <div class="buttons">
                <button title="Close window" id="closeVoiceCallBtn" class="closeVoiceCallBtn closeBtn"></button>
                <button title="Minimize window" id="minimizeVoiceCallBtn" class="minimizeVoiceCallBtn minimizeBtn"></button>
                <button title="Maximize window" id="maximizeVoiceCallBtn" class="maximizeVoiceCallBtn maximizeBtn"></button>
            </div>
            <span>Voice Call Panel</span>
        </div>
        <div class="voice-call-content">
            <div id="voiceCall" class="voice-call"></div>
        </div>
    </div>
    -->

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>