<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the.room - Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.7.2-web/css/all.min.css') }}">
</head>
<body>
    <div class="main-container">
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="message {{ category }}">{% if category == 'success' %}<i class="fas fa-check-circle"></i> {{ message }}{% elif category == 'error' %}<i class="fas fa-exclamation-triangle"></i> {{ message }}{% elif category == 'info' %}<i class="fas fa-info-circle"></i>{{ message }}{% endif %}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="navigation">
            <div class="left">

                <div class="buttons">
                    <button type="button" onclick="window.location.href='{{ url_for('logout') }}'" title="Logout from Room" class="closeBtn"><i class="fas fa-sign-out"></i> Logout</button>
                </div>
                
            </div>

            <div class="right">
                <div class="buttons">
                    <div class="dropdown">
                        <button type="button" onclick="toggleDropdown()" title="View the available activities" id="dropdownBtn" class="dropdownBtn"><i class="fas fa-bars"></i></button>
                        <div class="dropdown-menu" id="dropdownMenu">
                            <button type="button" onclick="window.location.href='{{ url_for('index') }}'" style="border-top-left-radius: 10px !important; border-top-right-radius: 10px !important;" class="watchMovieBtn"><i class="fas fa-film"></i> Watch a Movie</button>
                            <button type="button" onclick="window.location.href='{{ url_for('suggestion') }}'" class="watchMovieBtn"><i class="fas fa-question-circle"></i>  Movie Suggestions</button>
                            <button type="button" onclick="window.location.href='{{ url_for('upload') }}'" style="border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important;" class="watchMovieBtn"><i class="fas fa-upload"></i> Upload</button>

                        </div>
                    </div>
                    <button type="button" title="Open Chat" class="chatBtn" id="openChatBtn"><i class="fas fa-message"></i> Open Chat</button>
                    <!--
                    <button type="button" title="Voice Call" id="voiceCallBtn" class="phoneCallBtn"><i class="fas fa-phone"></i> Voice Call</button>
                    <button type="button" title="Video Call" class="videoCallBtn"><i class="fas fa-video"></i> Video Call</button>
                    -->
                </div>
            </div>
        </div>

        <div id="movies" class="section movies-section">
            <div class="section-header">
                <div>
                    <h1><i class="fas fa-upload"></i> Upload a Movie</h1>
                    <p><i class="fas fa-quote-left"></i> <span id="homeMessage"></span></p>
                </div>
                <div>
                    <span id="date-time" class="date-time"></span> 
                    <span id="clock" class="clock"></span>
                </div>
            </div>

            <div class="movies-content">
                <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

                    <div class="left-col">
                        <div>
                            <label for="title">Movie Title</label>
                            <input type="text" id="title" name="title" placeholder="Enter the title of the movie" required>
                        </div>

                        <div>
                            <label for="description">Movie Description</label>
                            <textarea rows="10" id="description" name="description" placeholder="Enter the description of the movie" required></textarea>
                        </div>

                        <div>
                            <label for="duration">Movie Duration</label>
                            <input type="text" id="duration" name="duration" placeholder="2h 30m" required>
                        </div>

                    </div>
                    <div class="right-col">
                        <div>
                             <label for="trailer">Trailer Url</label>
                            <input type="text" id="trailer" name="trailer" placeholder="Enter the trailer url">
                        </div>
                        <div>
                            <label for="thumbnail">Movie Thumbnail</label>
                            <input type="file" id="thumbnail" name="thumbnail" accept="image/*">
                        </div>

                        <div>
                            <label for="video">Movie File</label>
                            <input type="file" id="movie_file" name="movie_file" accept="video/*">
                        </div>

                        <div class="buttons">
                            <button type="submit" class="uploadBtn"><i class="fas fa-upload"></i> Upload</button>
                            <button type="button" onclick="window.location.href='{{ url_for('index') }}'" class="cancelBtn"><i class="fas fa-ban"></i> Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="chatPanel" class="chat-panel">
        <div class="chat-header">
            <span><i class="fas fa-message"></i> Chat Panel</span>
            <div class="buttons">
                <button title="Close window" id="closeChatBtn" class="closeChatBtn closeBtn"><i class="fas fa-times"></i> Hide</button>
            </div>
        </div>

        <div" class="chat-content">
            <div id="chatMessages" class="chat-messages"></div>
            <div class="chat-input">
                <input type="text" id="chatInput" placeholder="Type your message...">
                <button id="sendChatBtn"><i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </div>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>